<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.plot.marketing-learning</string>

    <key>ProgramArguments</key>
    <array>
      <string>/bin/zsh</string>
      <string>-lc</string>
      <string>cd /Users/savannahblack/Projects/PLOT/marketing &amp;&amp; npm run learn:apply</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
      <key>Weekday</key>
      <integer>0</integer>
      <key>Hour</key>
      <integer>10</integer>
      <key>Minute</key>
      <integer>0</integer>
    </dict>

    <key>WorkingDirectory</key>
    <string>/Users/savannahblack/Projects/PLOT/marketing</string>

    <key>StandardOutPath</key>
    <string>/Users/savannahblack/Projects/PLOT/marketing/preview/out/marketing-learning.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/savannahblack/Projects/PLOT/marketing/preview/out/marketing-learning.err.log</string>

    <key>RunAtLoad</key>
    <false/>
  </dict>
</plist>
